@using K9.Base.WebApplication.Extensions
@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Authentication

@{
    var roles = this.GetRoles();
}
<div id="account-header">
    <div id="account-controls">
        @if (roles.CurrentUserIsInRoles(RoleNames.Administrators) || roles.CurrentUserHasPermissions<NewsItem>(Permissions.Create, Permissions.Edit, Permissions.Delete))
        {
            <ul class="admin-menu ">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @Dictionary.Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu nav navbar-nav">
                    @if (roles.CurrentUserIsInRoles(RoleNames.Administrators) || roles.CurrentUserHasPermissions<ArchiveItem>(Permissions.Create, Permissions.Edit, Permissions.Delete))
                    {
                        <li class="@ViewContext.GetActiveClass("Index", "ArchiveItems") sub-item"><a href="@Url.Action("Index", "ArchiveItems")">@Dictionary.ArchiveItems</a></li>
                    }
                    @if (roles.CurrentUserIsInRoles(RoleNames.Administrators) || roles.CurrentUserHasPermissions<ArchiveCategory>(Permissions.Create, Permissions.Edit, Permissions.Delete))
                    {
                        <li class="@ViewContext.GetActiveClass("Index", "ArchiveCategories") sub-item"><a href="@Url.Action("Index", "ArchiveCategories")">@Dictionary.ArchiveCategories</a></li>
                    }
                    @if (roles.CurrentUserIsInRoles(RoleNames.Administrators) || roles.CurrentUserHasPermissions<Donation>(Permissions.Create, Permissions.Edit, Permissions.Delete))
                    {
                        <li class="@ViewContext.GetActiveClass("Index", "Donations") sub-item"><a href="@Url.Action("Index", "Donations")">@K9.Globalisation.Dictionary.Donations</a></li>
                    }
                    @if (roles.CurrentUserIsInRoles(RoleNames.Administrators) || roles.CurrentUserHasPermissions<NewsItem>(Permissions.Create, Permissions.Edit, Permissions.Delete))
                    {
                        <li class="@ViewContext.GetActiveClass("Index", "NewsItems") sub-item"><a href="@Url.Action("Index", "NewsItems")">@Dictionary.NewsItems</a></li>
                    }
                    @if (roles.CurrentUserIsInRoles(RoleNames.Administrators))
                    {
                        <li class="@ViewContext.GetActiveClass("Index", "Roles") sub-item"><a href="@Url.Action("Index", "Roles")">@Dictionary.Roles</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "RolePermissions") sub-item"><a href="@Url.Action("Index", "RolePermissions")">@Dictionary.Role @Dictionary.Permissions</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "Users") sub-item"><a href="@Url.Action("Index", "Users")">@Dictionary.Users</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "UserRoles") sub-item"><a href="@Url.Action("Index", "UserRoles")">@Dictionary.UserRoles</a></li>
                    }
                    </ul>
                </li>
            </ul>
        }
        <ul class="site-controls">
            <li class="@ViewContext.GetActiveClass("DonateStart", "Support")"><a title="@K9.Globalisation.Dictionary.Donate" href="@Url.Action("DonateStart", "Support")"><span class="glyphicon glyphicon-euro"></span><span class="site-controls-text"> @K9.Globalisation.Dictionary.Donate</span></a></li>
            @Html.LoginLogout()
            @if (WebSecurity.IsAuthenticated)
            {
                <li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a title="@Dictionary.MyAccountTitle" href="@Url.Action("MyAccount", "Account")"><span class="glyphicon glyphicon-user"></span><span class="site-controls-text"> @Dictionary.MyAccountTitle</span></a></li>
            }
        </ul>
    </div>
</div>
<div id="main-logo-container" class="menu-main">
    <a class="desktop-only @ViewContext.GetActiveClass("Index", "Home")" href="@Url.Action("Index", "Home")"><div class="main-logo default-logo"></div></a>
</div>
<div id="main-menu-container" class="menu-main">
    <div class="container">
        <div class="top-nav">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse menu-main" id="bs-navbar-collapse-1">
                    <ul id="main-navbar" class="nav navbar-nav">
                        <li class="@ViewContext.GetActiveClass("Index", "Home")"><a href="@Url.Action("Index", "Home")"><span class="large-title">@K9.Globalisation.Dictionary.SaveTheWolf &#128062;</span></a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div id="main-menu-spacer">
    &nbsp;
</div>