@using K9.Base.WebApplication.Config
@using K9.SharedLibrary.Extensions
@model K9.WebApplication.Models.StripeModel
@{
    ViewBag.Title = K9.Globalisation.Dictionary.Donate;
    ViewBag.SubTitle = K9.Globalisation.Dictionary.MakeDonation;
    ViewBag.BackgroundClass = "background-poaching1";
    Layout = "../Shared/_LayoutFormSmall.cshtml";
}

@using (Html.BeginForm("DonateProcess", "Support", FormMethod.Post))
{
    using (Html.BeginBootstrapForm())
    {
        @Html.HiddenFor(model => model.DonationAmount)
        <div class="text-right">
            <div class="margin-top-minus-5 float-left text-left">@Html.BootstrapDisplayFor(model => model.AmountToDonate)</div>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="@Model.PublishableKey"
                    data-amount="@Model.DonationAmountInCents"
                    data-name="@WebsiteConfiguration.Instance.CompanyName"
                    data-description="@K9.Globalisation.Dictionary.DonationTo @WebsiteConfiguration.Instance.CompanyName"
                    data-billing-address="true"
                    data-image="@Url.AbsoluteContent("Images/company/logo-small.png")"
                    data-locale="@Model.Locale"
                    data-zip-code="false"
                    data-currency="@Model.LocalisedCurrencyThreeLetters">
            </script>
        </div>

        <hr />
        @Html.BootstrapActionLinkButton(K9.Globalisation.Dictionary.ChangeAmount, "DonateStart", "Support", null, "fa-chevron-left")
    }
    <div class="alert alert-success">
        <h3><i class="fa fa-lock"></i> &nbsp;<strong>Security</strong></h3>
        <p style="margin-top: 20px;">
            This website is powered by <a href="https://stripe.com/gb/payments" target="_blank"><strong>Stripe</strong></a>. Unlike PayPal, your credit or debit card data is
            <strong>never sent to our servers</strong>; it is sent <strong>directly to Stripe</strong>.
        </p>
        <p style="margin-top: 20px;">
            <strong>We do not handle any sensitive data whatsoever</strong>, which makes any transactions through this website 
            <strong><a target="_blank" href="http://www.theukcardsassociation.org.uk/security/what_is_PCI%20DSS.asp">PCI compliant</a></strong>. Stripe automatically stores your cards in its vault, as does PayPal.
        </p>
        <p style="margin-top: 20px;">
            This website is also <strong>encrypted using <a target="_blank" href="https://www.globalsign.com/en/ssl-information-center/what-is-ssl">SSL</a></strong>, which is the same technology used by Internet banking.
        </p>
    </div>
}